.avengerschool-banner-wrapper {
    max-width: 270px;
}

.inter-inner .avengerschool-banner-wrapper {
    margin: 0 auto;
}

.entry-content .avengerschool-banner-wrapper {
    float: right;
    margin: 0 0 1em 1em;
}

.avengerschool-banner-wrapper a {
    color: #e8554e;
}

.avengerschool-banner-wrapper .header {
	font-size: 0.7em;
    border-top: 2px solid black;
    padding: 0.3em;
    font-weight: 800;
    color: #222;
    text-align: left;
}

.avengerschool-banner-wrapper .footer {
	font-size: 0.8em;
    border-bottom: 1px solid #999;
    padding: 0.2em;
    margin: -0.5em 0;
    text-align: left;
}

@media (max-width: 600px) {
	.entry-content .avengerschool-banner-wrapper {
		max-width: 150px;
	}

	.entry-content .avengerschool-banner-wrapper .header {
		font-size: 0.5em;
	}
}